.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    stroke: var(--grid-color);
    -webkit-mask-image: linear-gradient(0deg, transparent, var(--background-alt));
    mask-image: linear-gradient(0deg, transparent, var(--background-alt));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(2 2 2 / 0.7)'><path d='M0 .5H31.5V32'/></svg>");
    z-index: -1;
    opacity: 0.5;
}