/* footer.css */
#app footer {
    width: 100vw;
    background-color: var(--background-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 70px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

.footer-link {
    opacity: 0.6;
    transition: all 0.4s;
}

.footer-link:hover {
    cursor: pointer;
    opacity: 1;
    transform: translateY(-5px);
}

.footer-link img {
    width: 24px;
    height: 24px;
}